.serchBoxWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.searchInput {
  border-radius: 5px;
  border: 1px solid #000;
  height: 27px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
