.contactWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #000;
  border-radius: 10px;
  width: 270px;
  height: 100px;
  padding: 10px;
}

.contactBtn {
  border: 1px solid;
  border-radius: 5px;
}

.contactBtn:hover {
  background-color: #dcdcdc;
}
